body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    position: relative;
}

.content {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#us-pic {
    max-width: 100%;
}

#final-message {
    color: white;
}

.firework {
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #ff595e;
    border-radius: 50%;
    z-index: 1000;
}
